{% extends 'admin/base.html' %}
<!--  -->
{% block content %}
<!--  -->
{% endblock content %}
<!--  -->
{% block script %}
<!--  -->
<script>
    const { createApp } = Vue;

    createApp(
        {
            delimiters: ["[{", "}]"],
            data() {
                return {
                    
                };
            }
        }
    ).mount("#app")

</script>
{% endblock script %}
<!-- 
<script>
    const { createApp } = Vue;

    createApp(
        {
            delimiters: ["[{", "}]"],
            data() {
                return {

                };
            }
        }
    ).mount("#app")

</script> 
-->